.box-issues {
  margin: 60px;
  margin-top: 8px;
  background-color: #fff;
  border-bottom: 1px solid #d1d5da;
  border-right: 1px solid #d1d5da;
  border-left: 1px solid #d1d5da;
  border-radius: 3px;
}
