.pagination {
  width: fit-content;
  margin: auto;
}

.pagination ul {
  display: flex;
  padding-inline-start: unset;
  list-style-type: none;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.pagination li {
  padding: 10px;

  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
/*  */
.page {
  color: #0366d6;
  border-left: 1px solid #d1d5da;
}

.page:hover {
  background-color: rgb(239, 243, 246);
}
/*  */
.page-break {
  color: #0366d6;
  border-left: 1px solid #d1d5da;
}

.page-break:hover {
  background-color: rgb(239, 243, 246);
}
/*  */
.page-previous {
  color: #0366d6;
}

.page-previous:hover {
  background-color: rgb(239, 243, 246);
}
/*  */
.page-next {
  color: #0366d6;
  border-left: 1px solid #d1d5da;
}

.page-next:hover {
  background-color: rgb(239, 243, 246);
}
/*  */
.page-disabled {
  background-color: rgb(250, 251, 252);
  color: rgb(209, 213, 219);
}

.page-disabled:hover {
  background-color: rgb(250, 251, 252);
}
/*  */
.page-enabled {
  background-color: #0366d6;
  color: #fff;
}

.page-enabled:hover {
  background-color: #0366d6;
}
/*  */
.pagination a {
  background-clip: content-box;
  margin: auto;
  outline: none;
  user-select: none;
}
